

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1141393-200.png" >
    <span routerLink="/">artBlock</span>
    <span class="spacer"></span>
        <button routerLink="/profile" mat-raised-button color="">Profile</button>
<button style="margin-left: 10px" routerLink="/jobs" mat-raised-button color="">Post a Job</button>
    <button style="margin-left: 10px" routerLink="/dashboard" mat-raised-button color="">Post Your Art</button>

    <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
      <button (click)="auth.logout()" mat-button>Logout</button>
    </div>
    <ng-template #showLogin>
      <button (click)="auth.login()" mat-button>Login with Google</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>